fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.18
pillow==11.1.0
imagehash==4.3.1
opencv-python==4.10.0.84
numpy==2.2.1
pydantic==2.10.5
pydantic-settings==2.7.0
aiosqlite==0.20.0
python-magic-bin==0.4.14; sys_platform == 'win32'
python-magic==0.4.27; sys_platform != 'win32'
